@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-hover-bg:hover {
  background-color: #01AEBF;
}
.hover-text:hover{
  color: #161ABD;
  border-color: #161ABD;
}
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.service-name {
  @apply text-blue-600 uppercase block font-semibold text-base tracking-widest;
   color:#161ABD
}

.title {
  @apply capitalize text-2xl sm:text-3xl font-semibold my-3;
}

.rotate {
  transform: rotateX(180deg);
}

.team-card:hover :is(h2, p) {
  color: #161ABD;
}

.team-card:hover .icons {
  transform: translateY(0);
  opacity: 1;
}

input::placeholder {
  color: #161ABD;
}

@keyframes playPluse {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(-50%);
    opacity: 1;
    width: 4rem;
    height: 4rem;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(-50%);
    opacity: 0;
    width: 9rem;
    height: 9rem;
  }
}

.playButton {
  animation: playPluse 1.5s ease-out infinite;
}

.scrollbar::-webkit-scrollbar {
  height: 0;
}
/* body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f2f2f2;
} */

.container2 {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
}

.header2 {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 2.5rem;
  margin: 0;
}

.main2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content2 {
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 20px;
}

p2 {
  font-size: 1rem;
  line-height: 1.5;
}

.stats {
  flex-basis: 50%;
}

.stat {
  margin-bottom: 20px;
  text-align: center;
}

.stat h2 {
  font-size: 2rem;
  margin-bottom: 5px;
}

.stat p2 {
  font-size: 0.8rem;
  color: #888;
}