.accordion {
    margin: 20px;
    font-family: Arial, sans-serif;
}

.item {
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

.question {
    background-color: #f7f7f7;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.question:hover {
    background-color: #e0e0e0;
}
.faqTitle {
    margin-bottom: 2rem;
    font-size: 50px;
    
    font-weight: bold;
    
    text-align: center;
    
}

.answer {
    padding: 15px;
    background-color: white;
    display: block;
}

.icon {
    float: right;
}